.button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 43px;
  }
  
  .search {
    border-radius: 4px;
    margin-right: 24px;
    width: 272px;
    height: 40px;
  }
  